<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app-config-key</key>
	<string>ourocard</string>
	<key>group-identifier</key>
	<array>
		<string>group.com.bb.ourocard</string>
	</array>
	<key>server-latency</key>
	<real>2000</real>
	<key>server-protocol</key>
	<string>https</string>
	<key>server-domain</key>
	<string>wallet.bb.com.br</string>
	<key>server-port</key>
	<string></string>
	<key>server-context</key>
	<string>mov-wallet-server</string>
	<key>touch-id-app-key</key>
	<string>br.com.bb.Ourucard.KeychainKey</string>
	<key>certificate-der-file</key>
	<string>desenv-cert</string>
	<key>version-clean-coredata</key>
	<string>25</string>
	<key>google-analytics-key</key>
	<string>UA-50963127-13</string>
	<key>endpoints</key>
	<dict>
		<key>timeline</key>
		<dict>
			<key>transactions</key>
			<dict>
				<key>endpoint</key>
				<string>/api/timeline</string>
				<key>version</key>
				<string>v1</string>
			</dict>
		</dict>
		<key>commons</key>
		<dict>
			<key>address-by-cep</key>
			<dict>
				<key>endpoint</key>
				<string>/api/commons/cep</string>
				<key>version</key>
				<string>v1</string>
			</dict>
		</dict>
		<key>push</key>
		<dict>
			<key>push-notification</key>
			<dict>
				<key>endpoint</key>
				<string>/api/push/data</string>
				<key>version</key>
				<string>v1</string>
			</dict>
			<key>token-save</key>
			<dict>
				<key>endpoint</key>
				<string>/api/token/save</string>
				<key>version</key>
				<string>v1</string>
			</dict>
		</dict>
		<key>geolocation</key>
		<dict>
			<key>geolocation-include</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/geolocation/include</string>
			</dict>
			<key>geolocation-delete</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/geolocation/delete</string>
			</dict>
		</dict>
		<key>login</key>
		<dict>
			<key>login-account</key>
			<dict>
				<key>version</key>
				<string>v3</string>
				<key>endpoint</key>
				<string>/api/login/account</string>
			</dict>
			<key>login-card</key>
			<dict>
				<key>version</key>
				<string>v3</string>
				<key>endpoint</key>
				<string>/api/login/card</string>
			</dict>
			<key>login-wallet</key>
			<dict>
				<key>version</key>
				<string>v3</string>
				<key>endpoint</key>
				<string>/api/login/wallet</string>
			</dict>
			<key>login-biometric</key>
			<dict>
				<key>version</key>
				<string>v3</string>
				<key>endpoint</key>
				<string>/api/login/biometric</string>
			</dict>
			<key>create-hash-bio-credential</key>
			<dict>
				<key>version</key>
				<string>v2</string>
				<key>endpoint</key>
				<string>/api/biometry/register</string>
			</dict>
			<key>account-holder</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/login/account/holder</string>
			</dict>
		</dict>
		<key>wallet</key>
		<dict>
			<key>get-value-card-copy</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/payment/queryValueBillCopy</string>
			</dict>
			<key>find-non-financial-events</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/nonFinancialEvents</string>
			</dict>
			<key>find-currency-data</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/findCurrencyData</string>
			</dict>
			<key>find-aditional-holders-data</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/findAditionalHoldersData</string>
			</dict>
			<key>find-categories-data</key>
			<dict>
				<key>endpoint</key>
				<string>/api/wallet/findCategoriesData</string>
				<key>version</key>
				<string>v1</string>
			</dict>
			<key>find-mod-submod-data</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/findModSubmodData</string>
			</dict>
			<key>change-password</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/changePassword</string>
			</dict>
			<key>find-wallet-transactions-history</key>
			<dict>
				<key>version</key>
				<string>v4</string>
				<key>endpoint</key>
				<string>/api/wallet/transactions</string>
			</dict>
			<key>resend-sms</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/resendSms</string>
			</dict>
			<key>check-sms</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/checkSms</string>
			</dict>
			<key>send-sms</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/sendSms</string>
			</dict>
			<key>check-2-FA</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/check2FA</string>
			</dict>
			<key>get-2-FA</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/get2FA</string>
			</dict>
			<key>wallet-password</key>
			<dict>
				<key>version</key>
				<string>v3</string>
				<key>endpoint</key>
				<string>/api/wallet/password</string>
			</dict>
			<key>status-forgot-password</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/wallet/status/forgotPassword</string>
			</dict>
			<key>wallet-cards</key>
			<dict>
				<key>version</key>
				<string>v5</string>
				<key>endpoint</key>
				<string>/api/wallet/cards</string>
			</dict>
		</dict>
		<key>ourocard</key>
		<dict>
			<key>detail-ourocard</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string></string>
			</dict>
			<key>reset-ourocard</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/ourocard/reset</string>
			</dict>
			<key>deactivate-ourocard</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/ourocard/deactivate</string>
			</dict>
			<key>activate-ourocard</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/ourocard/activate</string>
			</dict>
			<key>update-ourocard</key>
			<dict>
				<key>version</key>
				<string>v2</string>
				<key>endpoint</key>
				<string>/api/ourocard/update</string>
			</dict>
			<key>insert-ourocard</key>
			<dict>
				<key>version</key>
				<string>v3</string>
				<key>endpoint</key>
				<string>/api/ourocard/new</string>
			</dict>
		</dict>
		<key>invoice</key>
		<dict>
			<key>find-account-available-payment</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/invoice/findAccountAvailablePayment</string>
			</dict>
			<key>summary-invoice</key>
			<dict>
				<key>version</key>
				<string>v3</string>
				<key>endpoint</key>
				<string>/api/invoice/summary</string>
			</dict>
			<key>transaction-invoice</key>
			<dict>
				<key>version</key>
				<string>v2</string>
				<key>endpoint</key>
				<string>/api/invoice/transaction</string>
			</dict>
			<key>transaction-detail-invoice</key>
			<dict>
				<key>version</key>
				<string>v2</string>
				<key>endpoint</key>
				<string>/api/invoice/transaction/detail</string>
			</dict>
			<key>find-invoice</key>
			<dict>
				<key>version</key>
				<string>v3</string>
				<key>endpoint</key>
				<string>/api/invoice</string>
			</dict>
		</dict>
		<key>card</key>
		<dict>
			<key>save-client-address</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/saveClientAddress</string>
			</dict>
			<key>client-address-list</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/clientAddressList</string>
			</dict>
			<key>change-shipping-type</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/changeShippingType</string>
			</dict>
			<key>save-request-issue</key>
			<dict>
				<key>value</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/saveCardReissueRequest</string>
			</dict>
			<key>change-settings-and-request-issue</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/updateShippingTypeCardReissueRequest</string>
			</dict>
			<key>price-for-request-reissue</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/findValueCardRequestReissue</string>
			</dict>
			<key>change-invoice-due-day</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/saveInvoiceDue</string>
			</dict>
			<key>invoice-due-days-list</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/invoiceDue</string>
			</dict>
			<key>request-additional-card</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/requestAdditionalCard</string>
			</dict>
			<key>validate-additional-card</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/validateAdditionalCard</string>
			</dict>
			<key>request-additional-details</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/additionalDetails</string>
			</dict>
			<key>check-holder-restrictions</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/holderRestrictions</string>
			</dict>
			<key>account-debit</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/accountDebit</string>
			</dict>
			<key>enabling-abroad</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/enablingAbroad</string>
			</dict>
			<key>disabling-abroad</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/disablingAbroad</string>
			</dict>
			<key>request-simplified-contestation</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/simplifiedContestation</string>
			</dict>
			<key>invoice-printing-change</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/invoicePrintingChange</string>
			</dict>
			<key>request-receipt</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/receipt</string>
			</dict>
			<key>find-card-transactions-history</key>
			<dict>
				<key>version</key>
				<string>v2</string>
				<key>endpoint</key>
				<string>/api/card/transactions</string>
			</dict>
			<key>reissue</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/reissue</string>
			</dict>
			<key>lock-provisional</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/lockProvisional</string>
			</dict>
			<key>unlock-provisional</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/unlockProvisional</string>
			</dict>
			<key>unlock-first-time</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/unlockFirstTime</string>
			</dict>
			<key>balance-avaliable-prepaid</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/card/balanceAvaliablePrepaid</string>
			</dict>
			<key>limit-avaliable-card</key>
			<dict>
				<key>version</key>
				<string>v2</string>
				<key>endpoint</key>
				<string>/api/card/limitAvaliableCard</string>
			</dict>
		</dict>
		<key>tags</key>
		<dict>
			<key>tags-service</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/tag</string>
			</dict>
			<key>bond-tags</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/tag/bondTag</string>
			</dict>
			<key>list-bond-tags</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/tag/listBondTag</string>
			</dict>
		</dict>
		<key>contestation</key>
		<dict>
			<key>create-contestation</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/contestation/create</string>
			</dict>
			<key>find-contestation</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/contestation</string>
			</dict>
		</dict>
		<key>picture-card</key>
		<dict>
			<key>find-status-for-picture</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/status</string>
			</dict>
			<key>auth-picture-card</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/authcard</string>
			</dict>
			<key>get-requests-with-type</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/requests</string>
			</dict>
			<key>request-image</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/image</string>
			</dict>
			<key>track-request-number</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/track</string>
			</dict>
			<key>request-rejection</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/rejections</string>
			</dict>
			<key>request-galleries</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/galleries</string>
			</dict>
			<key>request-square-image</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/squareimage</string>
			</dict>
			<key>request-image-max-size</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/imagemaxsize</string>
			</dict>
			<key>realize-payment</key>
			<dict>
				<key>version</key>
				<string>v2</string>
				<key>endpoint</key>
				<string>/api/picturecard/payment</string>
			</dict>
			<key>request-card-mask</key>
			<dict>
				<key>version</key>
				<string>v3</string>
				<key>endpoint</key>
				<string>/api/picturecard/mask</string>
			</dict>
			<key>save-picture-card-image</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/saveimage</string>
			</dict>
			<key>save-request</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/request</string>
			</dict>
			<key>request-ged-image</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/name</string>
			</dict>
			<key>find-picture-card-terms</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/term</string>
			</dict>
			<key>find-points</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/points</string>
			</dict>
			<key>find-card-image</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/cardimage</string>
			</dict>
			<key>find-available-cards</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/picturecard/available</string>
			</dict>
		</dict>
		<key>invoice-payment</key>
		<dict>
			<key>delete-payment-schedule</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/payment/deleteInvoicePaymentScheduleCreditCard</string>
			</dict>
			<key>payment-schedule</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/payment/getInvoicePaymentScheduleCreditCard</string>
			</dict>
			<key>digitable-line</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/payment/optical/request</string>
			</dict>
			<key>with-debit-in-current-account</key>
			<dict>
				<key>version</key>
				<string>v1</string>
				<key>endpoint</key>
				<string>/api/payment/debit</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
